node_modules
**/node_modules

.next
**/.next
dist
**/dist
.turbo
**/.turbo
*.tsbuildinfo

docker-volumes
.git

.env
.env*.local

.playwright-mcp
.superpowers

.DS_Store
Thumbs.db
npm-debug.log*
pnpm-debug.log*
